#scene {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

#scene:hover {
  cursor: crosshair;
}

#result {
  display: none;
}

#skeleton {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skeleton .skeleton-image {
  width: 900px;
  height: 500px;
  background-image: url("skeleton.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  #skeleton .skeleton-image {
    width: 100%;
    height: 100vh;
    background-image: url("mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #68d391;
  z-index: 100;
  cursor: nwse-resize;
}

.tool {
  border: 3px solid transparent;
  cursor: pointer;
}

.tool:hover {
  border: 3px solid #ededed;
}

.tool.active {
  border: 3px solid #68d391;
}

.tool.active:hover {
  cursor: default;
}

.element {
  z-index: 2;
  position: absolute;
  resize: both;
}

.element:hover {
  cursor: move;
}

.yLine {
  position: absolute;
  height: 99.5%;
  top: 0.5%;
  width: 1px;
  background: #eee;
}

.xLine {
  position: absolute;
  height: 1px;
  width: 100%;
  background: #eee;
}

.resizers {
  width: 100%;
  height: 100%;
  border: 3px solid #68d391;
  box-sizing: border-box;
  display: none;
}

.element:hover .resizers {
  display: block;
}

.circle .resizers {
  border-radius: 50%;
}

.resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #68d391;
  position: absolute;
}

.box .resizer.top-left {
  left: -5px;
  top: -5px;
}

.resizer.top-left {
  display: none;
  left: 0;
  top: 0;
  cursor: nwse-resize;
}

.box .resizer.top-right {
  right: -5px;
  top: -5px;
}

.resizer.top-right {
  display: none;
  right: 0;
  top: 0;
  cursor: nesw-resize;
}

.box .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
}

.resizer.bottom-left {
  display: none;
  left: 0;
  bottom: 0;
  cursor: nesw-resize;
}

.box .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
}

.resizer.bottom-right {
  right: 0px;
  bottom: 0px;
  cursor: nwse-resize;
}
